*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* flexbox of the whole body to center the calculator */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
}

/* flexbox with the display and the grouped buttons as its flex items */
.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 500px;
  background-color: black;
  border: 5px solid black;
  border-radius: 5px;
}

/* Display */
.calculator-display {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100px;
  background-color: white;
  border: 3px solid black;
}

.calculator-display .equation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  width: 100%;
  font: 20px "Orbitron", sans-serif;
  padding-right: 20px;
}

.calculator-display .input {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  font: 50px "Orbitron", sans-serif;
  width: 100%;
  padding-right: 15px;
}

/* Buttons */
.calculator-buttons {
  display: flex;
  flex-wrap: wrap;
  font: 25px "Orbitron", sans-serif;
  width: 100%;
  height: 100%;
}

button {
  flex-basis: 25%;
  font: inherit;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
}

button.control {
  background-color: rgb(199, 196, 196);
  transition: filter 0.1s;
}

button.control:hover {
  filter: brightness(1.1);
}

button.number {
  background-color: white;
  transition: filter 0.1s;
}

button.number:hover {
  filter: brightness(0.9);
}

button.operator {
  background-color: rgb(250, 184, 63);
  transition: filter 0.1s;
}

button.operator.equals {
  background-color: orange;
}

button.operator:hover {
  filter: brightness(1.1);
}
